<html>
  <body>
      <ul>
          <li><a class="active" href="home/login">Login</a></li>
          <li><a href="/home/register">Register</a></li>
          <li><a href="home">Home</a></li>
        </ul>  
<div class="container" style="width:60%; margin-top:5% ">
   
<form [formGroup]="passForm"  class="form-horizontal">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Forgot password</h3>
    </div>
    <div class="panel-body">


      <!--**********forgot password*********-->

      <div class="form-group" [ngClass]="{'has-error' : passForm.get('email').errors 
          && (passForm.get('email').dirty || passForm.get('email').touched )}">
        <label class="col-sm-2 control-label" for="fullName">Please Enter email</label>
        <div class="col-sm-8">
          <input id="email" formControlName="email" type="text" class="form-control">
          <span class="help-block" *ngIf="passForm.get('email').errors && 
          passForm.get('email').dirty || passForm.get('email').touched">
            <span *ngIf="passForm.get('email').errors?.required ">email is required</span>
            <span *ngIf="passForm.get('email').errors?.email">email should be valid</span>
          </span>
        </div>
      </div>


     

     



      <div class="panel-footer">
       
          <button class="btn btn-primary" type="submit" (click)="ForgotPassword()" [disabled]="passForm.invalid" >Send</button>
         
          <button class="btn btn-danger" (click)="cancel()" type="submit">cancel</button>
      </div>

    </div>
  </div>
</form>
</div>
</body>
</html>