body{
    
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(/assets/ab.jpeg) no-repeat center center fixed; ;
    background-size: cover;
    
} 
.container{

 opacity: 6;

 
}
.glyphicon-pencil{
    font-size: 35px;
    float: right;
    margin-top: 20px;
}
.h3{
    font-size: 25%;

}
.panel-body{
    background-color: transparent;   
    background: rgba(182, 214, 247, 0.3)
}
.form-control{
    background: transparent;
    border-radius: 0px;
    border:0px;
    border-bottom: 1px solid rgb(122, 116, 116) ;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: rgb(68, 70, 71);
  }
  .panel-default{
    background:rgba(235, 223, 223, 0.932);
 }
.btn-primary{

  width: 20%;
  background-color: #333;
 
}
.btn-danger{
width: 20%;
margin-left: 1%;
}


